<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>About</title>
</head>
<body>
    <header>
        <ul id="menu">
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
        </ul>
    </header>
    <div id="about-content">
        <h1>About Rick Sanchez</h1>
        <p>Nulla facilisi. Vivamus fringilla nisl ut scelerisque facilisis. Sed quis vestibulum neque. Integer aliquet orci ac nibh aliquet, non sollicitudin sem lobortis. Nam et elit commodo, volutpat diam vel, pellentesque ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed malesuada, magna et aliquam dignissim, nulla est egestas orci, in rhoncus ex ipsum at neque. Suspendisse feugiat ipsum eu nisi tincidunt accumsan.

            Nulla tincidunt sem arcu, nec pharetra velit venenatis non. Aliquam consequat massa a magna finibus, ut pretium quam euismod. Nulla facilisi. Suspendisse vitae sapien nunc. Proin nunc urna, scelerisque vel auctor sit amet, congue eget massa. Quisque dictum iaculis nulla non malesuada. Donec sodales feugiat justo eu elementum. Aenean orci sapien, consectetur vitae ante in, condimentum ullamcorper felis.
            
            Suspendisse vestibulum turpis gravida velit lobortis vulputate. Donec mi velit, porta in ipsum sit amet, suscipit pretium quam. Nunc finibus vulputate lacus. Curabitur at odio luctus enim imperdiet maximus non sed arcu. Sed lacinia commodo velit vel facilisis. Suspendisse in enim aliquam, ultricies enim at, varius quam. Phasellus ullamcorper viverra lacus, sit amet porta dui dictum sit amet. Cras mattis laoreet sapien non sagittis.</p>
    </div>
</body>
</html>