<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <ul id="menu">
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
        </ul>
    </header>
    <div id="landing">
        <div id="land-content">
            <div id="pers-card">
                <h1>Rick Sanchez</h1>
                <img src="/images/Rick_Sanchez.png" width="200px"/>
                <ul>
                    <li>
                        <h2>Name: Rick Sanchez</h2>
                    </li>
                    <li>
                        <h2>Occupation: Scientist</h2>
                    </li>
                    <li>
                        <h2>Nationality: Hispanic-American</h2>
                    </li>
                    <li>
                        <h2>Age: 71</h2>
                    </li>
                </ul>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit leo eget vestibulum eleifend. Donec bibendum tempor purus non rhoncus. Integer in neque et enim porttitor auctor. Vivamus tristique nunc eu sem iaculis pharetra. Phasellus mauris est, egestas eu pretium in, varius et felis. Suspendisse malesuada, odio sed efficitur venenatis, mauris arcu pulvinar ligula, vel fermentum diam dui nec ex. Aliquam sed nulla ac dolor sagittis laoreet nec ac dui. Quisque tincidunt commodo risus in mollis.

                Vestibulum id erat pharetra, tristique lacus ut, vehicula lectus. Integer nec eleifend orci, nec mollis enim. Praesent egestas quam sit amet ligula malesuada euismod. Nunc ac magna eget mauris vulputate mattis eu in ante. Praesent ornare erat id lacus dignissim, eget ultricies leo convallis. Nam mollis varius justo id dapibus. Sed ac ligula porttitor, mollis neque nec, suscipit eros. In elementum nulla at facilisis vestibulum. Donec rutrum urna at magna molestie convallis. Sed aliquet mi id ante placerat, hendrerit luctus leo egestas.</p>

        </div> 
    </div>   
</body>
</html>