<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Works</title>
</head>
<body>
    <header>
        <ul id="menu">
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/works">Works</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
        </ul>
    </header>
    <div id="all-works">
        <div class="cardWork">
            <img src="/images/portal_gun.png" height="100px"/>
            <div class="cText">
                <h2>Portal Gun</h2>
                <p>Not only is Rick's portal gun his greatest invention, he also insinuates it's his favorite one.</p>
            </div>
        </div>
        <div class="cardWork">
            <img src="/images/interdimensional_cabletv.jpg" height="100px"/>
            <div class="cText">
                <h2>Interdimensional Cable TV</h2>
                <p>This invention can broadcast tv channels from other dimensions</p>
            </div>
        </div>
        <div class="cardWork">
            <img src="/images/butter_passing_robot.png" height="100px"/>
            <div class="cText">
                <h2>Butter Passing Robot</h2>
                <p>When the Smith family was too wrapped up in an argument over the breakfast table to pass Rick the butter, he put together a little robot to travel across the table, grab the butter, and bring it back to him.</p>
            </div>
        </div>
    </div>
</body>
</html>